.teams-list-page{
    grid-template-areas:
    "header search search actions"
    "filter list list preview"
    "filter list list preview"
    "filter list list preview"
    "filter list list  preview"
}

.goal-text{
    font-size:0.8rem;
}

.invite-box{
    border:1px solid #ddd;
    padding:8px;
}




.filter{
    
}


