@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .sidebar-content{
        display: grid;
        grid-template-rows: 78px 1fr 32px;
        @apply h-full p-2  text-sm  bg-white;
    } 


    .link-header{
        @apply mt-6 text-base text-gray-400;
    }

    ul {
       @apply ml-8 ;
    }

    ul li {
        @apply text-gray-500 mt-1 text-xs ml-4;
        
    }

    .tech-tag{
        font-size:0.4rem
    }
    
  }




