.brands-list-page{
    grid-template-areas:
    "header search search actions"
    "list prev prev prev"
    "list prev prev prev"
    "list prev prev prev"
    "list prev prev prev"
}

.prev{
    grid-area: prev;
    border : 1px solid red;
    height: 100%
}

