.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 175px 1fr 1fr  ;
    grid-template-rows: 56px 1fr 56px;
    grid-gap:10px;
    grid-template-areas: 
    "sidebar topbar topbar"
    "sidebar page page"
    "sidebar chatbar chatbar"
    ;

}

.page{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-left:1px solid #eee
}

.sidebar{
    grid-area: sidebar;
  
}

.topbar{
    grid-area: topbar;
}
.chatbar{
    grid-area:chatbar;
    margin-top:-10px
}

.page{
   grid-area: page;
}

.actions{
    display:flex;
    /* justify-content:flex-end; */
    align-items:center;
    padding:0px;
    width:100%;
    /* border:1px solid green */
}
.preview{
    padding:8px;
    min-width:300px;
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    padding-top:0px;
    font-size:0.8rem

}

td{
    vertical-align: top;
    padding-right :12px
}

@media only screen and (max-width: 600px) {
.layout{
    grid-template-areas: 
    "topbar topbar topbar"
    "page page page"
    "page page page"
    ;
}
.sidebar{
    display:none
} 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sidebar{
        display:block
    } 
}

